@rendermode InteractiveAuto
@inject DialogService DialogService
@inject NavigationManager NavigationManager
@inject ThemeService ThemeService
@inject CookieThemeService CookieThemeService
@using Microsoft.JSInterop;

<RadzenHeader style="position: relative">
    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.SpaceBetween" Gap="0" style="width: 100%">
        <!-- Left section -->
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
            <RadzenSidebarToggle Click="@(() => sidebarExpanded = !sidebarExpanded)" />
            <RadzenLabel Text="TOPdesk Release Notes" />
        </RadzenStack>

        <!-- Right section -->
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.End" style="margin-right: 10px;">
            <RadzenAppearanceToggle/>
        </RadzenStack>
    </RadzenStack>
</RadzenHeader>
<RadzenSidebar Responsive="false" @bind-Expanded="@sidebarExpanded" style="position: absolute; z-index: 3">
    <RadzenStack AlignItems="AlignItems.End" class="rz-p-2">
        <RadzenButton Icon="west" Variant="Variant.Text" ButtonStyle="ButtonStyle.Primary" Click="@(() => sidebarExpanded = false)" />
    </RadzenStack>
    <RadzenPanelMenu>
        <RadzenPanelMenuItem Text="Home" Icon="home" Click="@(()=>OpenPage("/"))" />
        <RadzenPanelMenuItem Text="TOPdesk Resources" Icon="apps">
            <RadzenPanelMenuItem Text="Documentation Portal" Icon="open_in_new" Click="@(() => OpenUrl("https://docs.topdesk.com"))" />
            <RadzenPanelMenuItem Text="My Topdesk" Icon="open_in_new" Click="@(() => OpenUrl("https://my.topdesk.com"))" />
            <RadzenPanelMenuItem Text="Product Roadmap" Icon="open_in_new" Click="@(() => OpenUrl("https://productroadmap.topdesk.com"))" />
            <RadzenPanelMenuItem Text="Product Update Blog" Icon="open_in_new" Click="@(() => OpenUrl("https://www.topdesk.com/en/blog/overview/?tst=product-updates"))" />
            <RadzenPanelMenuItem Text="Status Page" Icon="open_in_new" Click="@(() => OpenUrl("https://status.topdesk.com"))" />
            <RadzenPanelMenuItem Text="TIP Platform" Icon="open_in_new" Click="@(() => OpenUrl("https://tip.topdesk.com"))" />
        </RadzenPanelMenuItem>
        <RadzenPanelMenuItem Text="Release Notes" Icon="edit_note" Click="@(()=>OpenPage("/release-notes"))" />
        <RadzenPanelMenuItem Text="About" Icon="info" Click="@ShowDialog" />
    </RadzenPanelMenu>
</RadzenSidebar>
@if (sidebarExpanded)
{
    <div @onclick="@(() => sidebarExpanded = false)" class="rz-dialog-mask" style="position: absolute; z-index: 2"></div>
}

@code {
    bool sidebarExpanded = false;

    async Task ShowDialog()
    {
        sidebarExpanded = false;
        await DialogService.OpenAsync("About", ds =>
            @<RadzenStack Gap="1.5rem">
                <p>Version 2504.9-beta</p>
                <p>This product is not developed, supported, or affiliated with TOPdesk. Best effort only.</p>
                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="1rem" Wrap="FlexWrap.Wrap">
                    <RadzenButton Text="Close" Click="() => ds.Close(true)" Style="width: 100px;" />
                    <RadzenButton Text="Show on Github" Click="@(() => OpenUrl("https://github.com/ricoroodenburg/Release-Notes-TD"))" Style="width: 200px;" />
                </RadzenStack>
            </RadzenStack>
    , new DialogOptions() { CloseDialogOnOverlayClick = true });
    }

    [Inject] IJSRuntime JS { get; set; }

    private async Task OpenUrl(string url)
    {
        await JS.InvokeVoidAsync("open", url, "_blank");
    }

    private async Task OpenPage(string page)
    {
        sidebarExpanded = false;
        NavigationManager.NavigateTo(page);

    }
}