@page "/"
@inject HttpClient Http
@rendermode InteractiveAuto

@using Newtonsoft.Json
@using TopdeskReleaseNotesV2.Models

<style>
    .rz-grid-table {
    width: unset;
    }
</style>

<PageTitle>Release Notes</PageTitle>
<RadzenText TextStyle="TextStyle.H5" TagName="TagName.H3">Release Notes TOPdesk</RadzenText>
<RadzenStack Gap="1rem">
    <RadzenDataGrid Style="height:90vh; color:#525252" ShowColumnTitleAsTooltip=false CellRender="@CellRender" AllowMultiColumnSorting="true" ShowMultiColumnSortingIndex="true" AllowColumnPicking="true" AllowFiltering="true" AllowColumnResize="true" AllowAlternatingRows="false" FilterMode="FilterMode.CheckBoxList" AllowSorting="true" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Center" ShowPagingSummary="true" Data="@notes" AllowGrouping="true" Render="@OnRender" @bind-Value=@selectedNotes AllowRowSelectOnRowClick=false>
        <EmptyTemplate>
            <p style="color: #525252; font-size: 24px; text-align: center; margin: 2rem;">No records to display.</p>
        </EmptyTemplate>
        <Columns>
            <RadzenDataGridColumn Property="@nameof(Note.release)" Title="Version" Width="5" MaxWidth="5" />
            <RadzenDataGridColumn Property="@nameof(Note.releaseDate)" Title="Release Date" FormatString="{0:d}" Visible=false />
            <RadzenDataGridColumn Property="@nameof(Note.description)" Title="Description" Groupable=false>
                <Template Context="data">
                    <div style="white-space: normal;" @onclick:stopPropagation="true">
                        @((MarkupString)data.descriptionHtml)
                    </div>
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn Property="@nameof(Note.category)" Title="Category" />
            <RadzenDataGridColumn Property="@nameof(Note.SourceTag)" Title="Source" />
            <RadzenDataGridColumn Property=hosting.saas Title="SaaS"/>
            <RadzenDataGridColumn Property=hosting.onpremisesvirtualappliance Title="Virtual Appliance" />
            <RadzenDataGridColumn Property=isTosNote Title="TOS" HeaderTooltip="True: Indicates the old module is being used (legacy system). False: Indicates the new service architecture is being used (modern system)."  />
        </Columns>
    </RadzenDataGrid>
</RadzenStack>


@code {

    private IList<Note> notes = new List<Note>();
    private IList<Note> selectedNotes = new List<Note>();

    //Density Density = Density.Default;

    void CellRender(DataGridCellRenderEventArgs<Note> args)
    {
 
        if (args.Data.attentions?.highlight == true)
        {
            args.Attributes.Add("style", "background-color: #dcf1ef;");
        }

    }


    protected override async Task OnInitializedAsync()
    {
        /*
        Console.WriteLine("Test");

        // Ophalen van de data van de API
        var url = "https://releasenotes.topdesk.com/v1/releasenotes/releases";
        var root = await Http.GetFromJsonAsync<Root>(url);

        // Als root niet null is, zetten we de 'notes' lijst
        notes = root?.notes ?? new List<Note>();
        */
        List<Note> notes = new List<Note>();

        List<Note> notesFromApi = await GetNotesFromUrl("https://releasenotes.topdesk.com/api/v1/releasenotes/releases", "API");
        List<Note> notesFromFeature = await GetNotesFromUrl("https://releasenotes.topdesk.com/v1/releasenotes/releases", "Feature");

        notes.AddRange(notesFromApi);
        notes.AddRange(notesFromFeature);

        this.notes = notes.OrderByDescending(n => n.releaseDate).ToList(); // of andere sortering

        }


    void OnRender(DataGridRenderEventArgs<Note> args)
    {
        if (args.FirstRender)
        {
            args.Grid.Groups.Add(new GroupDescriptor() { Property = "releaseDate", SortOrder = SortOrder.Descending, Title = "Release Date" });
            StateHasChanged();
        }
    }

    private async Task<List<Note>> GetNotesFromUrl(string url, string sourceTag)
    {
        using HttpClient httpClient = new HttpClient();
        var response = await httpClient.GetStringAsync(url);
        var root = JsonConvert.DeserializeObject<Root>(response);
    
        /*
        Stream stream = await httpClient.GetStreamAsync(url);
        Root root = await JsonSerializer.DeserializeAsync<Root>(stream, new JsonSerializerOptions
            {
                PropertyNameCaseInsensitive = true
            });
        */
        if (root?.notes != null)
        {
            foreach (Note note in root.notes)
            {
                note.SourceTag = sourceTag;
            }
            return root.notes;
        }

        return new List<Note>();
    }

}